/*--------------------------atractii--------------------*/

.Ne-desfasuram{
	margin-top: 100px;
	margin-bottom: 100px;
}
.Ne-desfasuram h1{
font-size:35px;
font-weight: 100;
}



.acasa-atractii .container{

	text-align: center;
	left:0;
	right:0;
	position:absolute;
	background: rgba(1 ,1 , 1 , 0.7);
	color:white;
	margin-top:400px;
	padding:20px;

	
}
@media screen and (max-width: 700px){
	.acasa-atractii .container{

	text-align: center;
	left:0;
	right:0;
	position:absolute;
	background: rgba(1 ,1 , 1 , 0.7);
	color:white;
	margin-top:25vh;
	padding:20px;

	
}

}

.acasa-atractii{
	
	background:url(../imagini/pozag7_1.jpg) no-repeat 50% 50% fixed;
	height: 100vh;
	width: 100%;
	width: auto;
    overflow: auto;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-attachment: scroll;
}
.acasa-atractii .container .text{
	font-weight:100;

	
	
	
	
	font-size:25px;


}

@media screen and (min-width: 800px) {

.container-atractii{
	text-align: center;
	margin:auto;
	background:white ;
	color:black;
	
}	
	
.container-atractii .text{
	
	background: rgba(13, 13, 13, 0.5);
	text-transform:uppercase;
	font-weight:100;
	font-family: 'Alegreya Sans', cursive;
	font-size:20px;;
	color:rgba(255,255, 255, 0.9);
	
    margin:auto;
    margin-top: 100px;
    border:0;
    padding:30px;
	
}
#atractii-grid{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 400px 400px;
	border-color: black;
	height: 800px;

}
.poza-atractii{
	position: absolute;
}

.grid-item1{
	background-image: url("../imagini/pozas1.jpg");
	height: 100%; 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.grid-item2{
	background-image: url("../imagini/20150709_075952.jpg");
	height: 100%; 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.grid-item3{
	background-image: url("../imagini/pozas3.jpg");
	height: 100%; 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
.grid-item4{
	background-image: url("../imagini/DSC_8622.jpg");
	height: 100%; 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 3;
    grid-row-start: 1;
	grid-row-end: 3;
    
}
.grid-item5{
	background-image: url("../imagini/DSC_8655.JPG");
	height: 100%; 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}



}


@media screen and (max-width: 800px) {
.container-atractii{
	text-align: center;
	margin:auto;
	background:white ;
	color:black;
	
}	
	
.container-atractii .text{
	
	background: rgba(13, 13, 13, 0.5);
	text-transform:uppercase;
	font-weight:100;
	font-family: 'Alegreya Sans', cursive;
	font-size:20px;;
	color:rgba(255,255, 255, 0.9);
	
    margin:auto;
    margin-top: 100px;
    border:0;
    padding:30px;
	
}
#atractii-grid{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 400px 400px 400px 400px 400px;
	border-color: black;
	height: 2000px;

}


.grid-item1{
	background-image: url("../imagini/pozas1.jpg");
	height: 100%; 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.grid-item2{
	background-image: url("../imagini/20150709_075952.jpg");
	height: 100%; 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.grid-item3{
	background-image: url("../imagini/pozas3.jpg");
	height: 100%; 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.grid-item4{
	background-image: url("../imagini/DSC_8622.jpg");
	height: 100%; 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.grid-item5{
	background-image: url("../imagini/DSC_8655.JPG");
	height: 100%; 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


	}
