@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Orbitron|Alegreya+Sans:100|Alegreya+Sans+SC:100|Fredericka+the+Great');
 
img, media {
    max-width: 100%;
}




 @media only screen and (max-device-width: 1366px) {
    .acasa {
        background-attachment: scroll;
    }
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
   }
    *, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
body{
	text-align:center;
	font-family: 'Orbitron', sans-serif;
	font-family: 'Architects Daughter', cursive;
	font-family: 'Alegreya Sans', cursive;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size:15px;
	line-height:1.5;
	padding:0;
	margin:0;
	background-color:white;
}
.istoric{
	max-width:900px;
	margin:auto;
}
.container{
	
	text-align: center;
	width:90%;
	margin:auto;
	overflow:hidden;
}


.acasa{
	height: 100vh;
	width: 100%;
	width: auto;
    overflow: auto;
	background:url(../imagini/fundal2_1.jpg) no-repeat 50% 50% fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-attachment: scroll;
}





.acasa .slogan{
	background: rgba(13, 13, 13, 0.6);
	text-transform:uppercase;
	font-weight:100;
	font-family: 'Alegreya Sans', cursive;
	font-size:5vh;
	color:rgba(255,255, 255, 0.9);
	display: table;
    margin:auto;
    margin-top:45vh;
    border:0;
    padding:8vh;
	
}
div.chenar {
  background: rgba(77, 77, 77, 0.6);
  width: 44vw;
  height: 15vw;
  border: 0;
  text-align: center;
  line-height: 310px;
  color: white;
  margin: 0 auto;
  
}
.istoric h1 {

	text-align: left;
	margin-top:100px;
	margin-bottom:120px;
	font-size:23px;
	font-weight:100;
	
}

.istoric h2{
	text-align: left;
	margin-top:80px;
	font-size:23px;
	font-weight:100;
}
.istoric h2{
	margin-top:120px;
	margin-bottom:100px;
	font-size:23px;
	font-weight:100;
	
}

.istoric h1 span{

	font-size:45px;
	

}
.istoric h2 span{
	font-size:45px;
	

}
.istoric h2 span1{
	font-size:25px;
	

}
#isu-index{
	width: 80%;
	margin-left:80px;
	margin-top:-70px;
	margin-bottom:75px;
	text-align: left;
    font-size:22px;
	font-weight:100;
	font-family: 'Alegreya Sans', cursive;
	display: none;

	
}
.istoric h3 span{
	font-size:45px;
		text-align: left;
	
}
	hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top:120px;
    padding: 0;
}
#buton-index{

	float:left;
	border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Alegreya Sans', cursive;
    font-size: 23px;


}



footer{
	
	background-color:rgb(13, 13, 13);
	padding:3px;
}
footer p{
	font-size:17px;
	color: white;
}
.buton{
	margin:10px 0 -10px 0;
}

 

@media screen and (min-width:1200px) {

.grid {
	
	width:100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 300px 300px 300px;
}
.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.poza1{
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end:4;
}
.poza2{
	grid-row-start:1;
	grid-row-end:3;
	
}
.poza3{
	grid-column-start:4;
	grid-column-end:6;
}
.poza4{
	grid-column-start:4;
	grid-column-end:6;
}
.poza5 {
	grid-column-start:3;
	grid-column-end:6;
}
.poza6{
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end:4;
}
.poza7{
	grid-column-start:4;
	grid-column-end:5;
	grid-row-start:1;
	grid-row-end:4;
}
.poza8{
	grid-column-start:3;
	grid-column-end:4;
	grid-row-start:2;
	grid-row-end:4;
}








@media screen and (max-width:1199px) {



.grid {
	
	width:100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 300px 300px 300px 300px 300px;
}
.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




}








.nav ul{
	margin-left: 20px;
}

